html, body { margin: 0; padding: 0; background: #ddd; 
    font-family: Andale, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Sans, Verdana, Tahoma, Arial, sans-serif;
}
h1 { padding: 0.5em 0.7em; margin: 0 auto; text-align: left; font-size: 300%; background: #aaa; color: #000; }
h1 span { font-weight: normal; font-size: 90%; }
.para { background: #fff; padding: 1em 2em; }

h2, h3 { font-family: Georgia, "Times New Romain"; font-weight: normal; margin: 0 0 0.4em 0; }
h2 { font-size: 200%; }
h3 { font-size: 180%; }
.date { color: #444; font-style: italic; font-size: 1em; }
#doc { margin: 1em auto 2em auto; background: #fff;
    -webkit-box-shadow: 0 0 10px #444; -moz-box-shadow: 0 0 10px #444; box-shadow: 0 0 10px #444; }

ul#people {
    height: 300px;
    overflow: auto;
    background: rgb(255, 250, 240);
    margin: 0 0 1em 0;
    padding: 1em 1em 1em 2em;
}
ul#people li { list-style: disc; margin-bottom: 0.2em; }
#reg { text-align: center; font-size: 1.4em; margin: 1em;}
.faq p { margin-bottom: 2.5em; }
.nav { background: #fff; padding: 0.3em; border-bottom: 1px solid #aaa; }
.nav2 { width: 695px; margin: 0 auto; position: relative; }
p.loc { font-size: 0.9em; padding: 0.5em 0; color: #ccc; width: 695px; margin: 0 auto; text-align: left; }
p.loc a { color: #88a; text-decoration: none; }
p.loc a.sel { font-weight: bold; color: #000; }
p.loc a [accesskey]:after {content:' [' attr(accesskey) ']'}

.values ul { margin-bottom: 2em; }
.values ul li { margin-bottom: 0.4em; }
.codeofconduct h2.be { margin-top: 1em; }
#preamble { font-size: 90%; padding: 1em 1em 0 1em; border: 1px solid #ccc; background: #eee; color: #555;}
#overview {}
p.license { font-size: 85%; font-style: italic; }
.license, .license a { color: #555; }

ul.todo {}
ul.todo li.active { font-weight: bold; }
ul.todo li.done { text-decoration: line-through; }
ul.news { padding: 0; margin: 0; }
ul.news li { margin-bottom: 0.5em; list-style: none; }
ul.news li span.dt { font-weight: thin; font-size: 85%; color: #666;
    font-family: courier new, fixed; margin: 0.3em 1em 0.3em 0em; float: left; }

.bb1 { border-bottom: 1px solid #aaa; }
.lb1 { border-left: 1px solid #aaa; }
.rb1 { border-right: 1px solid #aaa; }

#lang_form { position: absolute; top: 0; right: 0; }

.donate-coord {
     background: #fea; background: #ddd;
     color: #222;
     padding: 0.8em 1em 2em 1em;
     font-family: courier, monospace;
     font-size: 95%;
}

#pp_form {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
#pp_form_btn {
    text-align: center;
}

ul.ty-ppl-list {
    list-style-type: none;
    -moz-column-count: 3; -webkit-column-count: 3;
    -moz-column-gap: 1em; -webkit-column-gap: 1em;
    font-size: 90%;
    margin: 1em 0 4em 1em;
    padding: 0;
}
ul.ty-ppl-list li { list-style-type: none; }
ul.ty-ppl-list li:before {
    content: "\00BB \0020";
}
table#dl-table th { text-align: left; }
#dl-table td.city, #dl-table td.country { vertical-align: top; }
table#fr-table td.money { text-align: right; }