html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  background: url(/g/images/bg_ln_4.png) repeat-x;
  font-family: Verdana, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Tahoma, Arial, sans-serif;
}
body {
  background: url(/g/images/cauldron_alpha_ln_1.png) no-repeat -20px 200px;
}
a, a:link { color: #2383c2; text-decoration: none; }

h1 { padding: 0.5em 0.7em; margin: 0 auto; text-align: left; font-size: 300%; color: #000; }
h1 span {
  font-weight: normal;
  font-size: 75%;
}
.para { background: #fff; padding: 1em 2em; }

h2,
h3 {
  margin: 0 0 0.4em 0;
}
h2 { font-size: 170%; }
h3 { font-size: 150%; }

h1,
h2,
h3 {
  font-family: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  color: #3494d3;
}

h2 a,
h3 a {
  color: #3494d3;
  text-decoration: none;
}
.report-a-bug h3 {
  color: #222;
}

code.term,
pre.term {
  background: #444;
  display: block;
  color: #eee;
  padding: 0.8em 1em;
  -webkit-box-shadow: 0 0 10px #aaa;
}

hr {
  display: block;
  width: 40%;
  margin: 1em auto 3em auto;
  -webkit-box-shadow: 0 2px 3px #9db1ca;
  -moz-box-shadow: 0 2px 3px #9db1ca;
  box-shadow: 0 2px 3px #9db1ca;
  overflow: hidden;
  border: 0;
  border-top: 1px solid #ffffff;
}

.date { color: #444; font-style: italic; font-size: 1em; }
#doc {
  margin: 1em auto 2em auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #9db1ca;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  overflow: hidden;
}
#doc { background: #fff; }

#hd {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #ffffff), to(#f0f0f0));
  background: -moz-linear-gradient(top, #ffffff 50%, #f0f0f0);
  background: -webkit-linear-gradient(top, #ffffff 50%, #f0f0f0);
  background: linear-gradient(top, #ffffff 50%, #f0f0f0);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #9db1ca;
  display: block;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px #9db1ca;
  -moz-box-shadow: 0 1px 3px #9db1ca;
  box-shadow: 0 1px 3px #9db1ca;
}
#bd {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#logo {
  display: block;
  float: left;
  background: url(/g/images/logo_ln_1.png) no-repeat;
  width: 186px;
  height: 61px;
}
#logo span {
  display: block;
  text-indent: -9999px;
}
.lsep {
  display: block;
  float: left;
  color: #ddd;
  line-height: 70px;
  font-weight: thin;
  margin: 0 20px 0 25px;
}
.subh {
  display: block;
  float: left;
  height: 84px;
  line-height: 76px;
}
.subh em.tag { color: orange; }

.hl > li { margin-bottom: 0.6em; }

ul#people {
    height: 300px;
    overflow: auto;
    background: rgb(255, 250, 240);
    margin: 0 0 1em 0;
    padding: 1em 1em 1em 2em;
}
ul#people li { list-style: disc; margin-bottom: 0.2em; }
#reg { text-align: center; font-size: 1.4em; margin: 1em;}
.faq p { margin-bottom: 2.5em; }
.nav {
  background: #ffffff;
  padding: 0.3em;
  border-bottom: 1px solid #9db1ca;
  -webkit-box-shadow: 0 1px 2px #9db1ca;
  -moz-box-shadow: 0 1px 2px #9db1ca;
  box-shadow: 0 1px 2px #9db1ca;
}

.qsidesummary {
  float: right;
  border: 1px solid #aaa;
  padding: 0 0 1em 1em;
  margin: 0 0 2em 1em;
}
.qsidesummary.testday { float: none; background: #FFF380; border-color: orange; padding: 0.8em; margin: 0 0 1em 0; font-size: 85%; }

.nav2 { width: 695px; margin: 0 auto; position: relative; }
p.loc { font-size: 0.9em; padding: 0.5em 0; color: #ccc; width: 695px; margin: 0 auto; text-align: left; }
p.loc a { color: #2383c2; text-decoration: none; }
p.loc a.sel { font-weight: bold; color: #000; }
p.loc a [accesskey]:after {content:' [' attr(accesskey) ']'}

.values ul { margin-bottom: 2em; }
.values ul li { margin-bottom: 0.4em; }
.codeofconduct h2.be { margin-top: 1em; }
#preamble { font-size: 90%; padding: 1em 1em 0 1em; border: 1px solid #ccc; background: #eee; color: #555;}
#overview {}
p.license { font-size: 85%; font-style: italic; }
.license, .license a { color: #555; }

ul.todo {}
ul.todo li.active { font-weight: bold; }
ul.todo li.done { text-decoration: line-through; }
ul.news { padding: 0; margin: 0; }
ul.news li { margin-bottom: 0.5em; list-style: none; }
ul.news li span.dt { font-weight: thin; font-size: 85%; color: #666;
    font-family: "courier new", fixed; margin: 0.3em 1em 0.3em 0em; float: left; }

.bb1 { border-bottom: 1px solid #9db1ca; }
.lb1 { border-left: 1px solid #9db1ca; }
.rb1 { border-right: 1px solid #9db1ca; }

#lang_form { position: absolute; top: 0; right: 0; }

.donate-coord {
     background: #fea; background: #ddd;
     color: #222;
     padding: 0.8em 1em 2em 1em;
     font-family: courier, monospace;
     font-size: 95%;
}

#pp_form {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
#pp_form_btn {
    text-align: center;
}

ul.ty-ppl-list {
    list-style-type: none;
    -moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
    -moz-column-gap: 1em; -webkit-column-gap: 1em; column-gap: 1em;
    font-size: 90%;
    margin: 1em 0 4em 1em;
    padding: 0;
}
ul.ty-ppl-list li { list-style-type: none; }
ul.ty-ppl-list li:before {
    content: "\00BB \0020";
}
table#dl-table th { text-align: left; }
#dl-table td.city, #dl-table td.country { vertical-align: top; }
table#fr-table td.money { text-align: right; }

.dlt2 { border-collapse: collapse; width: 100%; font-size: 90%; }
.dlt2 th,
.dlt2 td {
  border: 1px solid transparent;
  vertical-align: top;
}
.dlt2 thead th { color: #aaa; font-size: 85%; text-align: left; }
.dlt2 th {
  border: 0;
  border-bottom: 1px solid #ccc;
}
.dlt2 tbody td {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #ccc;
}
.dlt2 tbody td:last-child {
  border-right: 0;
}
.dlt2 .size {
  text-align: right;
}
.dlt2 tbody tr.focus { outline: 2px solid #f00; }
.dlt2 tfoot td {
  color: #aaa; font-size: 85%;
  vertical-align: top;
}
.dlt2 tfoot td a { color: #aaa; }
.dlt2 .pop span { display: block; height: 11px; background: #ccc; color: transparent; }
.dlt2 .pop span.pop_0 { width: 0; }
.dlt2 .pop span.pop_1 { width: 5px; }
span.pop_2 { width: 10px; }
span.pop_3 { width: 20px; }
span.pop_4 { width: 35px; }
span.pop_5 { width: 50px; }
.dlinfo { font-size: 85%; color: #888; }
.dlt2 tr.reco td { font-weight: bold; }

.hidden { display: none; }